New Task
<label>
    <input type="text" ng-model="newTodo"/>
    <button ng-click="save()">Add</button>
</label>

<ul>
    <li ng-repeat="todo in todos">
        <label>
            <input type="checkbox" ng-model="todo.completed" ng-change="update($index)"/>
        </label>

        <a ng-class="todo.completed ? 'done':'' " ng-show="!editing[$index]" href="#/{{todo._id}}">{{todo.name}}</a>

        <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
        <button ng-show="!editing[$index]" ng-click="delete($index)">delete</button>

        <label>
            <input type="text" ng-show="editing[$index]" ng-model="todo.name"/>
        </label>

        <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
        <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button>

    </li>
</ul>
