<!doctype html>
<html data-ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <script src="bower_components/angular/angular.min.js"></script>
</head>
<body>

<hr/>
<hello>Element</hello>
Element
<hr/>
<div data-hello>Attribute</div>
data-Attribute
<hr/>
<div hello>Attribute</div>
Attribute
<hr/>
<!-- directive: hello --> Comment
<hr/>
<p class="hello"></p> Class

</body>

<script>
    var app = angular.module('app', []);
    app.directive('hello', [function () {
        return {
            restrict: 'CEMA', // C: class, E: element, M: comments, A: attributes
            replace: true, // replaces original content with template
            template: '<span><br>Hello</span>'
        }
    }]);

</script>

</html>